:root {
    --primary-color: rgb(50, 223, 50);
    --secondary-color: #f5f2fe;
    --head-font-family: 'Playfair Display', serif;
    --default-font-family: 'Poppins', sans-serif;
}

body {
  font-family: var(--default-font-family);
}

.container-main {
    background-color: var(--secondary-color);
    text-align: center;
    padding: 160px 20px;
}

h1, h2, h3, h4, h5, h6{
    color: black;
    font-family: var(--head-font-family);
    font-weight: bold;
}

.next{
    font-size: 64px;
    font-weight: bold;
}

i.fa-solid.fa-hands-bubbles {
    color: var(--primary-color);
}

p {
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
}
.container-main h1 {
    font-size: 96px;
    font-weight: bold;
    line-height: 1.5;
}
.container-main p {
    font-size: 36px;
    font-weight: bold;
    color: #272142;
    margin: 0;
}

.container-main h2 {
    font-family: var(--head-font-family);
    font-weight: bold;
    font-size: 24px;
    line-height: 1.5;
}

a.btn.btn-branding {
    background-color: var(--primary-color);
    color: white;
    border-radius: 4px;
    padding: 15px 30px;
    line-height: 27px;
    font-size: 18px;
}
a.btn.btn-branding-2 {
    border-radius: 4px;
    padding: 15px 30px;
    line-height: 27px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    font-size: 18px;
}

div.project-description {
    padding: 120px 60px 0;
}

@media (max-width: 900px) {
    div.project-description {
        padding: 0;
        text-align: center;
    }

    .container-main h1 {
        font-size: 45px;
        line-height: 2;
    }

    .next {
        font-size: 45px;
    }

    .container-main {
        padding: 80px 20px;
    }
}
